@tailwind components;

// Here's an example of how to mix and match native scss and tailwind classes to create a reusable component library.
@layer components {
    .btn {
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #ffffff60;
            color: #000000;
        }
    }

    .btn-opacity {
        @apply bg-[#ffffff30] rounded-md h-[56px] px-8 font-bold;
    }

    .btn-outline {
        @apply border-2 border-[#ffffff30] rounded-md h-[56px] px-8 font-bold;
    }
}
